<div class="jumbotron" style="padding:45px 0px"><!-- jumbotron class from bootstrap-->
    <h4 class="text-center">To Do List App</h4>
</div>
 <div class="input-group">
        <input type="text" class="form-control" #itemTitle>
        <div class="input-group-addon hover-cursor" >
            <!-- on click we pass inputtext item-->
 <div class="button" class="btn btn-primary"(click)="onAdd(itemTitle)"> add</div>
        </div>
    </div>

 <!--html to show job content in below screen after taking from firebase db-->
 <div style="margin:5px 0px">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of toDoListArray">
            <span class="hover-cursor" 
            [class.text-sucess]="item.isChecked" (click)="alterCheck(item.$key,item.isChecked)">
                <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
            </span>
            {{item.title}}
            <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
                <i class="fa fa-trash-o fa-lg"></i>
            </span>
        </li>
    </ul>
</div>
